* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    margin: 30px auto;
}

header {
    
}

header h1 {
    font-size: 48px;
    text-indent: 20px;
    display: inline-block;
}

h2 {
    margin-top: 40px;
}

a {
    font-size: 18px;
}

a:hover {
    color: #ff9933;
    text-decoration: none;
}

/*
a:visited {
    color: crimson;
}
*/

aside ul li {
    margin-bottom: 40px;
}

img.floatLeft {
    float: left;
    margin: 6px;
}


/* Card image blur */
.projects img {
    filter: blur(3px);
}

/* Card hover effect */
.projects a h5:hover {
    color: #ff9933;
}

.navbar {
    float: right;
}

.navbar ul li {
    margin: 0 15px;
}

.card {
    width: 200px;
    height: 200px;
    margin: 15px;
}

footer {
    text-align: center;
}



/* Media Queries */

@media only screen and (max-width: 768px) {

.projects h2 {
    text-align: center;
}

.card {
    margin: 15px auto;
}

aside h3 {
    text-align: center;
    margin-top: 30px;
}

aside p {
    text-align: center;
}

}