* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding-bottom: 60px;
    background-image: url("../assets/Images/sand.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* Photo by Anchor Lee on Unsplash */
}

.container {
    width: 100%;
    margin: 30px auto;
    position: relative;
    font-family: 'Quicksand', sans-serif;
}

header h1 {
    font-size: 48px;
    color: #17a2b8;
    text-indent: 20px;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
}

header h1:hover {
    color: #ff9933;
}

/*Featured Projects Header*/
h2 {
    margin-top: 40px;
}

a {
    font-size: 18px;
}

a:hover {
    text-decoration: none;
}

.navbar {
    float: right;
}

.navbar ul li {
    margin: 0 15px;
}

/*Profile image only*/
img.floatLeft {
    float: left;
    margin: 6px;
}

.card {
    width: 200px;
    height: 200px;
    margin: 15px;
    background-color: #17a2b8;
    color: #17a2b8;
}

.card:hover {
    color: #ff9933;
    background-color: #ff9933;
}

.card-title {
    line-height: initial;
    vertical-align: middle;
}

.card-image {
    position: relative;
    filter: blur(2px);
    height: 190px;
    width: 190px;
    left: 4px;
    top: 4px;
}

aside {
    margin-left: 30px;
}

aside ul li {
    margin-bottom: 40px;
    margin-left: 20px;
    list-style: none;
}

.header-icons {
    padding-right: 20px;
}

/*Overrides BS4 link hover color in aside*/
.orangeHover:hover {
    color: #ff9933;
}

footer {
    text-align: center;
    background-color: #17a2b8;
}



/* Media Queries */

@media only screen and (max-width: 640px) {

/*Shrinks text for better wrapping around image*/
body {
    font-size: 14px;
}

/*Normalizes header height to same height as condensed navbar*/
header {
    height: 58px;
}

header h1 {
    line-height: 58px;
    font-size: 32px;
}

.header-icons {
    padding-right: 8px;
}

/*Shrinks profile image*/
.floatLeft {
    width: 150px;
    height: 150px;
}

aside {
    margin-left: 0;
}
}


@media only screen and (max-width: 768px) {

/*Creates space between cards, and centers them*/
.card {
    margin: 15px auto;
}
} 

@media only screen and (max-width: 980px) {

/*Adds white space so footer does not overlap content*/    
body {
    padding-bottom: 100px;
}

.projects h2 {
    text-align: center;
}

aside p, h3 {
    text-align: center;
}
} 

@media only screen and (max-width: 1200px) {


}