* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*
.container {
    float: left;
}
*/
main {
    width: 90%;
    margin: 30px auto;
}

header {
    
}

header h1 {
    font-size: 48px;
    text-indent: 20px;
    display: inline-block;
}

a {
    font-size: 20px;
}

aside {
    float: left;
   
    width: 350px;
    display: inline;
}

aside ul li {
    margin-bottom: 40px;
}

img.floatLeft {
    float: left;
    margin: 6px;
}


.navbar {
    float: right;
}

.navbar ul li {
    margin: 0 15px;
}

.card {
    width: 200px;
    height: 200px;
    margin: 15px;
}



/* Media Queries */

@media only screen and (max-width: 768px) {

    [class*="col-"] {
        width: 100%;
    }

}


}