header h1 {
  font-size: 48px;
  color: #17a2b8;
  text-indent: 20px;
  display: inline-block;
  font-family: "Quicksand", sans-serif;
}

header h1:hover {
  color: #ff9933;
}

.navbar {
  float: right;
}

.navbar ul li {
  margin: 0 15px;
}

.header-icons {
  padding-right: 20px;
}

@media only screen and (max-width: 640px) {
  /*Normalizes header height to same height as condensed navbar*/
  header {
    position: relative;
    height: 58px;
    z-index: 1020;
  }

  header h1 {
    line-height: 58px;
    font-size: 24px;
  }

  .header-icons {
    padding-right: 8px;
  }
}
